<!-- templates/myapp/item_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  


{% block content %}
<div  class="flex items-center justify-center text-center outline border-2 font-black">
  <h1>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Item</h1>
</div>
  
<div>
  <form method="post" action="{% if form.instance.pk %}{% url 'item_edit' pk=form.instance.pk %}{% else %}{% url 'item_create' %}{% endif %}" class="max-w-lg mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    {% csrf_token %}
    
    <div class="mb-4">
        <label for="id_name" class="block text-gray-700 text-sm font-bold mb-2">Name:</label>
        {{ form.name }}
    </div>
    
    <div class="mb-4">
      <label for="id_description" class="block text-gray-700 text-sm font-bold mb-2">Description:</label>
      {{ form.description }}
  </div>

  <div class="flex items-center justify-center">
    <button type="submit" class="btn btn-outline btn-accent w-28">{% if form.instance.pk %}Update{% else %}Create{% endif %} Item</button>
  </div>
  </form>

  <div class="pt-4">
    <a href="{% url 'item_list' %}" class="w-32">
      <button class="btn btn-outline btn-accent w-32">List</button>
    </a>
  </div>
  
</div>
  
{% endblock %}

</body>
</html>