<!-- templates/myapp/item_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

{% block content %}

<div class="border-2 w-52 mx-auto mt-40 rounded-md">
  <h1 class="flex items-center justify-center border-b-2 p-4">{{ item.name }}</h1>
  <p class="flex items-center justify-center p-4">{{ item.description }}</p>

  <div class="flex items-center justify-center p-2">
    <a href="{% url 'item_edit' pk=item.pk %}" class="pr-2">
      <button class="btn btn-outline btn-warning">Edit</button></a>
    <a href="{% url 'item_delete' pk=item.pk %}" class="pl-2">
      <button class="btn btn-outline btn-warning">Delete</button></a><br>
  </div>
</div>

<div class="flex items-center justify-center mt-2">
  <a href="{% url 'item_list' %}">
    <button class="btn btn-outline btn-warning">Back to List</button>
  </a>
</div>
{% endblock %}

</body>
</html>